/*PRIMARY AND ACCENT COLORS*/

.cerise1{color:#D83F87; color: rgb(216,63,135); }
.cerise2{color:#c23879; color:rgb(194,56,121);}
.cerise3{color:#ac326c; color:rgb(172,50,108);}
.cerise4{color:#972c5e; color:rgb(151,44,94);}
.cerise5{color:#812551; color:rgb(129,37,81);}
.cerise6{color:#6c1f43; color:rgb(108,31,67);}
.cerise7{color:#561936; color:rgb(86,25,54);}
.cerise8{color:#401228; color:rgb(64,18,40);}
.cerise9{color:#2b0c1b; color:rgb(43,12,27);}
.cerise10{color:#15060d; color:rgb(21,6,13);}

.royalpurple1{color:#2a1b3d; color: rgb(42,27,61); }
.royalpurple2{color:#251836; color:rgb(37,24,54);}
.royalpurple3{color:#211530; color:rgb(33,21,48);}
.royalpurple4{color:#1d122a; color:rgb(29,18,42);}
.royalpurple5{color:#191024; color:rgb(25,16,36);}
.royalpurple6{color:#150d1e; color:rgb(21,13,30);}
.royalpurple7{color:#100a18; color:rgb(16,10,24);}

.purple1{color:#44318D; color:rgb(68,49,141);}
.purple2{color:#3d2c7e; color:rgb(61,44,126);}
.purple3{color:#362770; color:rgb(54,39,112);}
.purple4{color:#2f2262; color:rgb(47,34,98);}
.purple5{color:#281d54; color:rgb(40,29,84);}
.purple6{color:#221846; color:rgb(34,24,70);}
.purple7{color:#1b1338; color:rgb(27,19,56);}
.purple8{color:#140e2a; color:rgb(20,14,42);}

.lightpurple1{color:#8267a5; color:rgb(130,103,165);}
.lightpurple2{color:#755c94; color:rgb(117,92,148);}
.lightpurple3{color:#685284; color:rgb(104,82,132);}
.lightpurple4{color:#5b4873; color:rgb(91,72,115);}
.lightpurple5{color:#4e3d63; color:rgb(78,61,99);}
.lightpurple6{color:#413352; color:rgb(65,51,82);}
.lightpurple7{color:#342942; color:rgb(52,41,66);}
.lightpurple8{color:#271e31; color:rgb(39,30,49);}
.lightpurple9{color:#1a1421; color:rgb(26,20,33);}

/*OTHER ACCENT COLORS*/
.mediumred1{color:#59253A; color:rgb(89,37,58);}
.fuschia1{color:#78244C; color:rgb(120,36,76);}
.pinkpurple1{color:#78244C; color:rgb(120,36,76);}
.gray{color:#333333; color:rgb(51,51,51);}
