/*Apple iPad Air 2, Ipad Mini 2 1024X768*/
@media screen and (max-width:1000px) {
  .logo{text-align: center}
  #mainNav{display:none;}
  header#header{padding:4.5% 0 3%; background-color:#222;}
  #menubars{display: block;}
  #menubars span{color: #FFF;}
  #menubars:hover{cursor: pointer;}
  #menubars .hamburger-inner,   #menubars .hamburger-inner::after,   #menubars .hamburger-inner::before{background-color:#FFF; max-width: 30px; height:2px;}

  }




/*Apple iPhone 6 Plus 414X736*/



/*Apple iPhone 6s 414X736*/



/*Samsung Galaxy Note, Samsung Galaxy S5, Samsung Galaxy S7
  360X640*/



/*Larger screens 1920X1080*/
