<section id="" class="container-fluid recent-projects-container">

<div class="row">

  <div class="container recent-projects">
  <div class="row">

    <div class="col col-lg-6">
  <h2 class="hp-section-title cerise1">Recent <span>Projects</span>

<svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>

    </h2>
  </div>

      <div class="col col-lg-6">

</div>
</div>
</div><!--end container-->



<div class="container">
<div class="row">
<div class="col col-lg-6 project-details-1-container">
<figure class="project-pic">
  <img src="./assets/img/homepage/project-pic-sample.jpg" />
    <figcaption class="project-details project-details-1">
    <span class="project-title">Project Title</span>
    <span class="project-subject">website/marketing</span>
    <span class="view-project-link"><a href="#">View Project</a></span>
  </figcaption><!--end project details-->
</figure><!--end project pic-->
</div>
<div class="col col-lg-6">
</div>
</div>
</div><!--end container-->
<div class="container">
  <div class="row">
    <div class="col col-lg-5 project-details-2-container">

      <figure class="project-pic">
        <img src="./assets/img/homepage/project-pic-sample.jpg" />
          <figcaption class="project-details project-details-3">
          <span class="project-title">Project Title</span>
          <span class="project-subject">website/marketing</span>
          <span class="view-project-link"><a href="#">View Project</a></span>
        </figcaption><!--end project details-->
      </figure><!--end project pic-->
    </div>
    <div class="col col-lg-2">
    </div>
  <div class="col col-lg-5 project-details-3-container">
  <figure class="project-pic">
    <img src="./assets/img/homepage/project-pic-sample.jpg" />
      <figcaption class="project-details project-details-2">
      <span class="project-title">Project Title</span>
      <span class="project-subject">website/marketing</span>
      <span class="view-project-link"><a href="#">View Project</a></span>
    </figcaption><!--end project details-->
  </figure><!--end project pic-->
    <div class="btn-container portfolio-button-hp"><a href="#" class="btn btn-default">View Portfolio</a></div>
  </div>
  </div>
</div><!--end container-->
</div>
</section>


<section id="how-it-works-container" class="container">

<div class="row">
<div class="col col-lg-12">

<h2 class="hp-section-title cerise1 text-center">How It <span>Works</span>
<svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>


  </h2>

</div>
</div>

<div class="row">
<div class="col col-lg-12 text-center">
<h3 class="hp-section-subtitle text-center ave-l">Our model is simple. One price. One stop shop. Stop paying for features that should be included such as eCommerce or Databases. You've asked for a new way, a better way. You've asked for faster turnaround, cleaner designs, dedicated project management, and <span class="ave-b">HIGH</span> quality work. <span class="ave-b cerise1">Styelle DELIVERS!</span> </h3>
</div>
</div>

<div class="row hiw-content-row">
<div class="col col-lg-4">
<div class="hiw-content-block">
<h4 class="hiw-content-title">Step ONE: <span class="ave-b">Sign Up</span></h4>
<p>
  All premium features are including in the core package for one simple price. Add services to customize your plan such as custom photography and social media management.
</p>

<a href="#">View All Plans</a>
</div>
</div>

<div class="col col-lg-4">
<div class="hiw-content-block">
<h4 class="hiw-content-title">Step TWO: <span class="ave-b">Request Work</span></h4>
<p>
  After signup, you'll meet with the designer to discuss project details (<a href="#" class="cerise1 ave-m">online</a>, <a href="tel:1111111111" class="cerise1 ave-m">phone</a>, or <a href="#" class="cerise1 ave-m">in person</a>). Moving forward, simply submit a request and we will complete within hours.
</p>
<a href="#">Submit A Request</a>

</div>
</div>

<div class="col col-lg-4">
<div class="hiw-content-block">
<h4 class="hiw-content-title">Step THREE: <span class="ave-b">Enjoy Your Project</span></h4>
<p>
Congratulations! Your project is delivered &amp; you're ready for business. We'll continue to manage your project from beginning to end. Cancel Anytime. 100% satisfaction!</p>
<a href="#">View Your Project History</a>

</div>
</div>
</div>

<div class="row pricing-plan-hp">
<div class="col col-lg-12">

<h2 class="hp-section-title cerise1">All-In-One <span>Solution</span>
<svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>

  </h2>

</div>
</div>


<div class="row pricing-row-hp">
<div class="col col-lg-7 pricing-border-hp">

<p class="pricing-desc-title">
  One Simple Price <span>For Everyone</span>
</p>

<p class="pricing-desc-blurb">
The Core Package includes Unlimited Web Design, Unlimited Graphic Design, and Digital Marketing (SEO/SEM). Add-ons start at only $25/mo and include Product Testing, Custom &amp; Stock Photography, Social Media Management, Advertising, Multimedia, and Blogging.</p>

<p class="pricing-desc-blurb">
  <span class="ave-m">"Unlimited"</span> means <span class="cerise1 ave-b">UNLIMITED</span>. No extra charge for eCommerce, Databases, Mobile Ready, Content Management System (inc. Wordpress/Magento/Shopify), and any other "Stuffing Services" other companies upcharge.
</p>
    <div class="btn-container"><a href="#" class="btn btn-normal">Get Started Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>

</div>

<div class="col col-lg-5 text-center">

<p class="pricing-title">
  Monthly Pricing
</p>

<p class="pricing-number">
  <sup>$</sup>299
</p>

<p class="pricing-term">
  No Committments.<br/>
You retain all rights.
</p>

<p class="pricing-disclosure">
Cancel anytime - 100% satisfaction
<span>Web Design &amp; Graphic Design include unlimited revisions</span>

</p>
</div>
</div>
</section>

<section id="cta-blocks-hp" class="container-fluid cta-blocks-wrapper">
<div class="row">
<div class="container">

<div class="row cta-blocks-header">
  <div class="col col-lg-12">

    <h2 class="hp-section-title cerise1 text-center"><span>We Take On Your Project and OWN IT!</span> <svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>

      </h2>

<h3 class="hp-section-subtitle text-center ave-l">You no longer have to wear multiple hats to accomplish tasks. Let us take on your project and bring your ideas to life. It's broken? We'll fix it! Not converting? We'll get the party started! Design should be fun, innovative, and effective. That's what we look forward to presenting to you!</h3>
  </div>
  </div>

<div class="row cta-blocks">
  <div class="col col-lg-3 cta-block cta-type-blog cta-type-blog1">
<div class="cta-block-content">

<h3 class="cta-blog-title">4 Keys to an important marketing plan</h3>
<p class="cta-blog-blurb">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
</p>

<p class="cta-blog-button"><a href="#">Read More</a></p>

</div>  </div>

  <div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg8">
</div>  </div>

  <div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg1">
</div>  </div>

  <div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg2">
</div>  </div>

</div>

<div class="row cta-blocks">

  <div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg3">
</div>  </div>

<div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg9">
</div>  </div>

  <div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg4">
</div>  </div>

  <div class="col col-lg-3 cta-block cta-type-blog cta-type-blog2">
<div class="cta-block-content">

<h3 class="cta-blog-title">Forward Thinking Marketing Strategies</h3>
<p class="cta-blog-blurb">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
</p>

<p class="cta-blog-button"><a href="#">Read More</a></p>

</div>  </div>
</div>

<div class="row cta-blocks">

  <div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg5">
</div>  </div>

  <div class="col col-lg-3 cta-block">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg6">
</div>  </div>


  <div class="col col-lg-3 cta-block cta-type-blog cta-type-blog1">
<div class="cta-block-content">

<h3 class="cta-blog-title">Some Random Post About Something</h3>
<p class="cta-blog-blurb">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
</p>

<p class="cta-blog-button"><a href="#">Read More</a></p>

</div>  </div>

  <div class="col col-lg-3 cta-block ">
<div class="cta-block-content cta-block-img-bg cta-block-img-bg7">
</div>  </div>


  </div>


  <div class="row clients-row-hp">
  <div class="col col-lg-12">

<h2 class="hp-section-title cerise1 text-center">Super Happy <span>Clients</span> <svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>
  </h2>
  </div>

  </div>

<div class="row">
<div class="col col-lg-12">
<div class="client-logos-inline text-center">
<img class="" src="./assets/img/homepage/clients-google.png" alt=""/>
<img class="" src="./assets/img/homepage/clients-google.png" alt=""/>
<img class="" src="./assets/img/homepage/clients-google.png" alt=""/>
<img class="" src="./assets/img/homepage/clients-google.png" alt=""/>
<img class="" src="./assets/img/homepage/clients-google.png" alt=""/>
</div>
</div>
</div>

<div class="row">
<div class="col col-lg-12">
<div class="text-center">
    <div class="btn-container"><a href="#" class="btn btn-normal">Get Started Today!</a><p class="pay-disclosure white">*FREE Domain and Premium Web Hosting</p></div>

</div>
</div>
</div>

</div>
</div>
</section>


<section id="our-team" class="container">
<div class="row team-member-bio-row">

<div class="col col-lg-5">



<h2 class="hp-section-title cerise1">Our <span>Team</span> <svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>
  </h2>

<h4 class="ave-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>


<h4 class="ave-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>


<div class="team-thumbnails">
<div class="member-select"><div class="member-thumb text-center  "><img src="./assets/img/homepage/Jess.png" /></div><p class="thumb-name">Dr. Jessica Chin</p></div>
<div class="member-select"><div class="member-thumb text-center"><img src="./assets/img/homepage/Jess.png" /></div><p class="thumb-name">Mark A Russell</p></div>
<div class="member-select"><div class="member-thumb text-center"><img src="./assets/img/homepage/Jess.png" /></div><p class="thumb-name">Ebonee Thompson</p></div>
</div>


<div class="team-thumbnails">
<div class="member-select"><div class="member-thumb text-center  "><img src="./assets/img/homepage/Jess.png" /></div><p class="thumb-name">Josh Winkles</p></div>
<div class="member-select"><div class="member-thumb text-center"><img src="./assets/img/homepage/Jess.png" /></div><p class="thumb-name">Michael Meeks</p></div>
<div class="member-select"><div class="member-thumb text-center"><img src="./assets/img/homepage/Jess.png" /></div><p class="thumb-name">Frank Doe</p></div>
</div>
</div>


<div class="col col-lg-4">
<img src="./assets/img/homepage/Jess.png" />
</div>
<div class="col col-lg-3">


<div class="team-member-bio-container"><p class="team-member-name ave-m cerise1">
Dr. Jessica Chin, Ph.D</p>

<p class="team-member-bio">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<p class="team-member-name">
<span class="team-member-email"><a href="mailto:email@email.com" >email@email.com</a></span>
<span class="team-member-facebook"><i class="fa fa-facebook"></i></span>
<span class="team-member-twitter"><i class="fa fa-twitter"></i></span>
<span class="team-member-instagram"><i class="fa fa-instagram"></i></span>
</p></div>
</div>
</div>
</section>
