<div class="container step-one-hiw">
<div class="row">
<div class="col col-lg-6">


<div class="block-details">
  <span class="block-title">Lorem Ipsum</span>
<span class="block-subtitle"><strong class="cerise1">01</strong> Lorem ipsum dolor sit </span>
<span class="block-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>

    <div class="btn-container button-spacing"><a href="#" class="btn btn-normal">Sign Up Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>

</div>
  </div>


<div class="col col-lg-6 text-center pricing-hiw">

<p class="pricing-title">
  Monthly Pricing
</p>

<p class="pricing-number">
  <sup>$</sup>299
</p>

<p class="pricing-term">
  No Committments.<br/>
You retain all rights.
</p>

<p class="pricing-disclosure">
Cancel anytime - 100% satisfaction
<span>Web Design &amp; Graphic Design include unlimited revisions</span>

</p>

</div>



</div><!--end row-->
</div><!--end container-->

<div class="container-fluid step-two-hiw">
<div class="row row-eq-height">
<div class="col col-lg-6 hiw-bg-img">
</div><!--end col col-lg-12-->

<div class="col col-lg-6">

<div class="block-details">
  <span class="block-title">Lorem Ipsum</span>
<span class="block-subtitle"><strong class="cerise1">02</strong> Lorem ipsum dolor sit </span>
<span class="block-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>

    <div class="btn-container button-spacing"><a href="#" class="btn btn-normal">Sign Up Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>


</div>

</div><!--end col col-lg-12-->
</div><!--end row-->
</div><!--end container-->

<div class="container-fluid">
<div class="row">
<div class="col col-lg-6 step-three-divider1">
</div><!--end col col-lg-12-->
<div class="col col-lg-6 step-three-divider2">
</div><!--end col col-lg-12-->
</div><!--end row-->
</div><!--end container-->

<div class="container-fluid step-three-hiw">
<div class="row row-eq-height items-center">
<div class="col col-lg-6">

<div class="block-details">
  <span class="block-title">Lorem Ipsum</span>
<span class="block-subtitle"><strong class="cerise1">02</strong> Lorem ipsum dolor sit </span>
<span class="block-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>

    <div class="btn-container button-spacing"><a href="#" class="btn btn-normal">Sign Up Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>


</div>

</div><!--end col col-lg-12-->

<div class="col col-lg-6">

<img src="assets/img/hiw/step-three-img.png" alt="" class="" />
</div><!--end col col-lg-12-->

</div><!--end row-->
</div><!--end container-->


<div class="container">
<div class="row">
<div class="col col-lg-12 pricing-column">

<h2 class="hp-section-title cerise1 text-center">How We Stack Up To The <span>Competitors</span>
<svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>
  </h2>




<div class="pricing-table-wrapper">

<table class="pricing-table">

<thead>
<td>Features</td>
<td>Styelle</td>
<td>Web.com</td>
<td>GoDaddy, HostGator, BlueHost</td>
</thead>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Lorem ipsum dolor</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>



</table>


</div>

<h3 class="hp-section-subtitle text-center ave-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h3>


    <div class="btn-container text-center"><a href="#" class="btn btn-normal">Get Started Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>

</div>
</div>
</div>
