<section id="hero" class="container-fluid">
  <div class="row">

  <div id="page-title" class="container">
    <div class="row">

<div class="col col-lg-12 align-items-center page-title-container">

  <svg class="svg-arrow-one" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#d83f87" stroke-width="1"></polygon></svg>
  <svg class="svg-arrow-two" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#FFFFFF" stroke-width="1"></polygon></svg>

<div class="page-title-text">
  <h1><span class="page-title-ln1">How It Works</span><br />
  <span class="page-title-ln2"> Sign Up. Request Work. Enjoy Success.</span></h1>
</div>

<svg class="svg-arrow-three" xmlns="http://www.w3.o" height="10" width="10"><polygon points="5,10 10,0, 0,0" fill="none" stroke="#d83f87" stroke-width="1"></polygon></svg>

</div><!--end page-title-->
</div><!--end row-->
</div><!--end container-->

<!--end hero-text-container-->
</div>
</section><!--end container-->

<div class="container step-one-hiw">
<div class="row">
<div class="col col-lg-6">


<div class="block-details">
  <span class="block-title">Signup</span>
<span class="block-subtitle"><strong class="cerise1">01</strong> Join our network </span>

<span class="block-blurb">We understand that time is money for entreprenuers &amp; small business owners. Let us take the stress out of your day by bringing the customers <span class="cerise1">TO YOU</span>. Our proven marketing strategies will increase your bottom line exponentially as you focus on the most important aspects of your business. There's literally <span class="cerise1">ZERO</span> risk as we guarantee an increase in both visibility and customer base within 7 days. Don't put this off another minute; let's <a href="#" class="cerise1"><strong>get started today!</strong></a></span>

<p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p>


</div>
  </div>


<div class="col col-lg-6 text-center pricing-hiw">

<p class="pricing-title">
  Monthly Pricing
</p>

<p class="pricing-number">
  <sup>$</sup>299
</p>

<p class="pricing-term">
  No Committments.<br/>
You retain all rights.
</p>

<p class="pricing-disclosure">
Cancel anytime - 100% satisfaction
<span>Web Design &amp; Graphic Design include unlimited revisions</span>

</p>

    <div class="btn-container button-spacing"><a href="#" class="btn btn-normal">Sign Up Today!</a></div>

</div>



</div><!--end row-->
</div><!--end container-->

<div class="container-fluid step-two-hiw">
<div class="row row-eq-height">
<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 hiw-bg-img hide-on-mobile">
</div><!--end col col-lg-12-->

<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">

<div class="block-details">
  <span class="block-title">Request Work</span>
<span class="block-subtitle"><strong class="cerise1">02</strong> Time to get busy </span>
<span class="block-blurb">It's time to bump fists with your new shadow, a.k.a. your dedicated design team. We'll collaborate for days, weeks, or even months until we perfect your project. Moving forward, simply submit a request for additional work/edits and we'll respond within a few hours.</span>

    <div class="btn-container button-spacing"><a href="#" class="btn btn-normal">Sign Up Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>


</div>

</div><!--end col col-lg-12-->
</div><!--end row-->
</div><!--end container-->

<div class="container-fluid hide-on-mobile">
<div class="row">
<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 step-three-divider1">
</div><!--end col col-lg-12-->
<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 step-three-divider2">
</div><!--end col col-lg-12-->
</div><!--end row-->
</div><!--end container-->

<div class="container-fluid step-three-hiw">
<div class="row row-eq-height items-center">
<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">

<div class="block-details">
  <span class="block-title">Enjoy Your Project</span>
<span class="block-subtitle"><strong class="cerise1">02</strong> Next Steps...</span>
<span class="block-blurb">Your project is delivered &amp; you're ready for business. We'll continue to manage your project from beginning to end while making strategic market decisions based upon real time statistics. Cancel Anytime. 100% satisfaction! Unlike our competitors, you retain the rights to your site.</span>

    <div class="btn-container button-spacing"><a href="#" class="btn btn-normal">Sign Up Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>


</div>

</div><!--end col col-lg-12-->

<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 hide-on-mobile">

<img src="assets/img/hiw/step-three-img.png" alt="" class="" />
</div><!--end col col-lg-12-->

</div><!--end row-->
</div><!--end container-->


<div class="container competitive-matrix">
<div class="row">
<div class="col col-lg-12 pricing-column">

<h2 class="hp-section-title cerise1 text-center">How We Stack Up To The <span>Competitors</span>
<svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>
  </h2>




<div class="pricing-table-wrapper">

<table class="pricing-table">

<thead>
<td>Features</td>
<td>Styelle</td>
<td>Web.com</td>
<td>GoDaddy, HostGator, BlueHost</td>
</thead>

<tr>
<td>Free Domain Name</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Free Hosting</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Unlimited Bandwidth</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Free Business Email (w/GSuite)</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Dedicated Design Team</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Custom Photography</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Custom Graphic Design</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Social Media Management</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Retain all rights</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>



</table>


</div>

<p class="pricing-table-after text-center ave-l">Most agencies are after one thing; your pockets. We're much more than a for profit marketing agency. We actually care about your success. Your success reflects on our competency &amp; ability to deliver results. Our reputation means more to us than maximizing profits. When you join Design Styelle, you join a family.</p>


    <div class="btn-container text-center"><a href="#" class="btn btn-normal">Get Started Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>

</div>
</div>
</div>
