{{portfolioDetails.name}}

<div class="container portfolio">
<div class="row">
<div class="col col-lg-12">

<ul class="portfolio-selection">
<li class="active"><a href="#web-design">Web Design</a></li>
<li><a href="#graphic-design">Graphic Design</a></li>
<li><a href="#seo">SEO</a></li>
<li><a href="#social-media">Social Media</a></li>
<li><a href="#product-testing">Product</a></li>
<li><a href="#email-marketing">Email</a></li>


</ul>
</div><!--end col-->
</div><!--end row-->
</div><!--end container-->

<div class="container portfolio">
<div class="row">
<div class="col col-lg-4">

<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>


</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->

</div><!--end col col-lg-3-->

<div class="col col-lg-4">
<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->
</div><!--end col col-lg-3-->

<div class="col col-lg-4">
<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->
</div><!--end col col-lg-3-->


</div><!--end row-->

<div class="row">
<div class="col col-lg-4">

<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title <
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->

</div><!--end col col-lg-3-->

<div class="col col-lg-4">
<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->
</div><!--end col col-lg-3-->

<div class="col col-lg-4">
<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->
</div><!--end col col-lg-3-->


</div><!--end row-->

<div class="row">
<div class="col col-lg-4">

<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->

</div><!--end col col-lg-3-->

<div class="col col-lg-4">
<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->
</div><!--end col col-lg-3-->

<div class="col col-lg-4">
<div class="portfolio-block">
<span class="portfolio-img"><a href="#" alt="" class=""><img src="./assets/img/portfolio/portfolio1.jpg"/></a></span>
<div class="portfolio-details-wrapper">
<span class="portfolio-title">Project Title
<svg xmlns="http://www.w3.o" height="12" width="12"><polygon points="0,0 12,6 0,12" fill="#FFF" stroke="#FFF" stroke-width="1"></polygon></svg>
</span>
<span class="portfolio-summary"><strong>Summary</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</span>
<span class="portfolio-date"><strong>Client Since</strong> January 1, 2018</span>
<span class="portfolio-category"><i class="fa fa-laptop"></i> Web Design, Graphic Design, SEO</span>
</div><!--end portfolio-details-wrapper-->
</div><!--end portfolio block-->
</div><!--end col col-lg-3-->


</div><!--end row-->



<div class="row">

<div class="col col-lg-2">
</div><!--end col-->

<div class="col col-lg-8">
<ul class="pagination-selection">
<li class="active"><a href="#previous-page">Previous Page</a></li>
<li class=""><a href="#page-one">1</a></li>
<li class=""><a href="#page-two">2</a></li>
<li class=""><a href="#page-three">3</a></li>
<li class=""><a href="#page-four">4</a></li>
<li class=""><a href="#page-one">Last Page</a></li>

</ul>
</div><!--end col-->

<div class="col col-lg-2">
</div>

</div><!--end row-->
</div><!--end container-->
