<section id="hero" class="container-fluid">
  <div class="row">

  <div id="page-title" class="container">
    <div class="row">

<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 align-items-center page-title-container">

  <svg class="svg-arrow-one" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#d83f87" stroke-width="1"></polygon></svg>
  <svg class="svg-arrow-two" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#FFFFFF" stroke-width="1"></polygon></svg>

<div class="page-title-text">
  <h1><span class="page-title-ln1">Solutions</span><br />
  <span class="page-title-ln2"> More Than Just A Design Agency</span></h1>
</div>

<svg class="svg-arrow-three" xmlns="http://www.w3.o" height="10" width="10"><polygon points="5,10 10,0, 0,0" fill="none" stroke="#d83f87" stroke-width="1"></polygon></svg>

</div><!--end page-title-->
</div><!--end row-->
</div><!--end container-->

<!--end hero-text-container-->
</div>
</section><!--end container-->



<div class="container step-one-sol">
<div class="row">
<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">

<div class="block-details">
  <span class="block-title">UNLIMITED</span>
<span class="block-subtitle"><strong class="cerise1">Premium</strong> Web Design </span>
<span class="block-blurb">We use only the most popular, scalable frameworks and libraries in modern web development. Your site/application will be constructed using one, or a combination of, the following programming languages: Angular, ReactJS, jQuery, Phoenix, Django, and more. You also have the option of adding a Content Management System such as Wordpress, Drupal, Joomla, Magento, Shopify, and more.</span>

<ul class="solutions-default-list">
  <li><span class="cerise1">&minus;</span> <span class="cerise1">FREE</span> Content Management System</li>
  <li><span class="cerise1">&minus;</span> <span class="cerise1">FREE</span> eCommerce Solution</li>
  <li><span class="cerise1">&minus;</span> <span class="cerise1">FREE</span> Domain &amp; Hosting</li>
  <li><span class="cerise1">&minus;</span> <span class="cerise1">Unlimited</span> Pages, <span class="cerise1">Unlimited</span> Bandwidth </li>
  <li><span class="cerise1">&minus;</span> 100% Satisfaction</li>
</ul>

<p>
  <span class="block-blurb">All content is original and customized to your business needs. </span>

</p>
    <div class="btn-container button-spacing"><a href="/development" class="btn btn-normal">Learn More About Web Design</a></div>

</div>
  </div>


<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center pricing-sol">

<p class="pricing-title">
  Monthly Pricing
</p>

<p class="pricing-number">
  <sup>$</sup>999
</p>

<p class="pricing-term">
  No Committments.<br/>
You retain all rights.
</p>

<p class="pricing-disclosure">
Cancel anytime - 100% satisfaction
<span>Web Design &amp; Graphic Design include unlimited revisions</span>
</p>

<div class="row portfolio-solutions">
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3">
<a href="./assets/img/portfolio/247restaurantparts1.jpg"><img src="./assets/img/portfolio/247restaurantparts1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3">
<a href="./assets/img/portfolio/abdallatau1.jpg"><img src="./assets/img/portfolio/abdallatau1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3">
<a href="./assets/img/portfolio/amyjogoddard1.jpg"><img src="./assets/img/portfolio/amyjogoddard1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3">
<a href="./assets/img/portfolio/brooklyn1.jpg"><img src="./assets/img/portfolio/brooklyn1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3">
<a href="./assets/img/portfolio/catchemclub1.jpg"><img src="./assets/img/portfolio/catchemclub1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3">
<a href="./assets/img/portfolio/cyber1.jpg"><img src="./assets/img/portfolio/cyber1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3">
<a href="./assets/img/portfolio/exposurefoundation1.jpg"><img src="./assets/img/portfolio/exposurefoundation1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
<div class="col col-xs-4 col-sm-6 col-md-2 col-lg-3 ">
<a href="./assets/img/portfolio/klik1.jpg"><img src="./assets/img/portfolio/klik1.jpg" class="portfolio-solutions-img" alt=""/></a>
</div>
</div>
</div>
</div><!--end row-->
</div><!--end container-->


<div class="container-fluid step-two-sol">
<div class="row row-eq-height">
<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 sol-bg-img">
</div><!--end col col-lg-12-->

<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">

<div class="block-details">
  <span class="block-title">UNLIMITED</span>
<span class="block-subtitle"><strong class="cerise1">Retina 4K/HD</strong> Graphic Design </span>
<span class="block-blurb">Quality over <span class="strike">Quantity</span> Money. It's time to move past obvious stock photography and pixelated images. We will work with you to create custom graphics and high quality, web-optimized images. Most importantly, you retain all rights to your project. 100% Satisfaction!</span>



    <div class="btn-container button-spacing"><a href="/portfolio" class="btn btn-normal">View Design Samples</a></div>


</div>

</div><!--end col col-lg-12-->
</div><!--end row-->
</div><!--end container-->


<div class="container-fluid step-dividers">
<div class="row">
<div class="col col-xs- col-sm- col-md- col-lg-6 step-three-divider1">
</div><!--end col col-lg-12-->
<div class="col col-xs- col-sm- col-md- col-lg-6 step-three-divider2">
</div><!--end col col-lg-12-->
</div><!--end row-->
</div><!--end container-->

<div class="container-fluid step-three-sol">
<div class="row row-eq-height items-center">
<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">

<div class="block-details">
  <span class="block-title">UNLIMITED</span>
<span class="block-subtitle"><strong class="cerise1">SEO</strong>/SEM with Google + Bing</span>
<span class="block-blurb">What's the point of creating a shiny, attractive web site that no one knows about? We will help expose your business to the world wide web. Rank on Google, Ads on Yahoo, and CPC Campaigns are just a few ways we help establish and grow your business digitally. </span>


<table class="seo-table">
<tr>
<td><span class="cerise1"><i class="fa fa-check"></i></span> List &amp; rank on Google/Bing/Yahoo</td>
<td><span class="cerise1"><i class="fa fa-check"></i></span> <span class="cerise1">Free</span> AdWords campaign management</td>
</tr>

<tr>
<td><span class="cerise1"><i class="fa fa-check"></i></span> <span class="cerise1">Free</span> Analytics funnel setup</td>
<td><span class="cerise1"><i class="fa fa-check"></i></span> Monthly data report</td>
</tr>

<tr>
<td><span class="cerise1"><i class="fa fa-check"></i></span> Daily Pulse check</td>
<td><span class="cerise1"><i class="fa fa-check"></i></span> Live recordings</td>
</tr>

<tr>
<td><span class="cerise1"><i class="fa fa-check"></i></span> Affiliate programs</td>
<td><span class="cerise1"><i class="fa fa-check"></i></span> CRM integration solutions</td>
</tr>
</table>
    <div class="btn-container button-spacing"><a href="/marketing" class="btn btn-normal">View Marketing Features</a></div>


</div>

</div><!--end col col-lg-12-->

<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">

<div class="block-details">
  <span class="block-title">MARKETING</span>
<span class="block-subtitle"><strong class="cerise1"></strong> Brand + Digital + Social + Affiliate</span>
<span class="block-blurb">In our eyes, your story matters. Whether you're selling a product, a service, or simply your experience, we're committed to working closely with you to discover the stories that make up your brand. After all, people don't buy things, they buy experiences.</span>


<table class="seo-table">
<tr>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> Blogging</td>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> Adwords/CPC</td>
</tr>

<tr>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> Content Writing</td>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> Video Content</td>
</tr>

<tr>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> Print Marketing</td>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> Email Marketing</td>
</tr>

<tr>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> Social Media</td>
<td><span class="cerise1"><i class="fa fa-plus"></i></span> ...And More</td>
</tr>
</table>
    <div class="btn-container button-spacing"><a href="/signup" class="btn btn-normal">Signup Today!</a></div>


</div>

</div><!--end col col-lg-12-->



</div><!--end row-->
</div><!--end container-->


<div class="container pricing-container">
<div class="row">
<div class="col col-xs- col-sm- col-md- col-lg-12 pricing-column">

<h2 class="hp-section-title cerise1 text-center">How We Stack Up To The <span>Competitors</span>
<svg xmlns="http://www.w3.o" height="20" width="20"><polygon points="0,0 20,10 0,20" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>
  </h2>




<div class="pricing-table-wrapper">

<table class="pricing-table">

<thead>
<td>Features</td>
<td>Styelle</td>
<td>Web.com</td>
<td>GoDaddy, HostGator, BlueHost</td>
</thead>

<tr>
<td>Free Domain Name</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Free Hosting</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Unlimited Bandwidth</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Free Business Email (w/GSuite)</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Dedicated Design Team</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Custom Photography</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Custom Graphic Design</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Social Media Management</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>

<tr>
<td>Retain all rights</td>
<td class="cerise1"><i class="fa fa-check"></i></td>
<td class="">X</td>
<td class="">X</td>
</tr>



</table>


</div>

<p class="pricing-table-after text-center ave-l">Most agencies are after one thing; your pockets. We're much more than a for profit marketing agency. We actually care about your success. Your success reflects on our competency &amp; ability to deliver results. Our reputation means more to us than maximizing profits. When you join Design Styelle, you join a family.</p>


    <div class="btn-container text-center"><a href="/signup" class="btn btn-normal">Get Started Today!</a><p class="pay-disclosure">*FREE Domain and Premium Web Hosting</p></div>

</div>
</div>
</div>
