<header id="header" class="container-fluid">

<div id="top-header" class="container">
  <div class="row">

  <div class="col col-xs-9 col col-sm-9 col col-md-4 col col-lg-5">
    <div id="logo"><a href="/"><img src="./assets/img/logos/styelle-logo.png"/></a></div>
  </div>


  <div class="col col-xs-3 col col-sm-3 col col-md-8 col col-lg-7">
    <nav id="mainNav" class="row align-items-center">
    <ul>
      <li>
        <a href="how-it-works">How It Works</a>
      </li>
      <li>
        <a href="solutions">Solutions</a>
      </li>
      <li>
        <a href="portfolio">Portfolio</a>
      </li>
<li>
  <a href="contact">Contact</a>
</li>
      <li class="contact-link">
        <a href="mailto:info@designstyelle.com" class="mail-icon-circle"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
    </nav>

    <button id="menubars" class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div>

<div class="container-fluid mobileNavContainer">
  <div class="row">

    <nav id="mobileNav" class="col col-lg-12 align-items-center">
    <ul>
    <li>
      <a href="how-it-works">How It Works</a>
    </li>
    <li>
      <a href="solutions">Solutions</a>
    </li>
    <li>
      <a href="portfolio">Portfolio</a>
    </li>
<li>
  <a href="contact">Contact</a>
</li>
    </ul>
    </nav>

  </div>
  </div>

</div>
</div>


  <div id="hero" class="container">
    <div class="row">

<div class="col col-lg-12 align-items-center hero-text-container hero-text-container-home">

  <svg class="svg-arrow-one" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#d83f87" stroke-width="1"></polygon></svg>
  <svg class="svg-arrow-two" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#FFFFFF" stroke-width="1"></polygon></svg>

<div class="hero-fg-text">
  <h1><span class="hero-fg-ln1">We design, build, test, <span class="cerise1">&amp;</span> market</span><br />
  <strong class="hero-fg-ln2">

<svg xmlns="http://www.w3.o" height="30" width="30"><polygon points="0,0 30,15 0,30" fill="#d83f87" stroke="#d83f87" stroke-width="1"></polygon></svg>

<em class="">smart</em> websites <span class="cerise1">&amp;</span> mobile applications</strong></h1>
</div>

<svg class="svg-arrow-three" xmlns="http://www.w3.o" height="10" width="10"><polygon points="5,10 10,0, 0,0" fill="none" stroke="#d83f87" stroke-width="1"></polygon></svg>
</div>

<!--end hero-text-container-->
</div>
</div><!--end container-->

</header>
