<header id="header" class="container-fluid">
<div id="top-header" class="container">
  <div class="row">

  <div class="col col-xs-9 col col-sm-9 col col-md-4 col col-lg-5">
    <div (click)="mobileNavClicked()" id="logo"><a routerLink="/"><img src="./assets/img/logos/logo-250.png"/></a></div>
  </div>


  <div class="col col-xs-3 col col-sm-3 col col-md-8 col col-lg-7">
    <nav id="mainNav" class="row align-items-center">
    <ul>
      <li>
        <a class="mainNav-link" routerLink="/how-it-works">How It Works</a>
      </li>
      <li>
        <a class="mainNav-link" routerLink="/solutions">Solutions</a>
</li>
      <li>
        <a class="mainNav-link" routerLink="/portfolio">Portfolio</a>
      </li>
      <li>
        <a class="mainNav-link" routerLink="/contact">Contact</a>
      </li>

      <!-- <li>
        <a class="mainNav-link" routerLink="/members">Login</a>
      </li> -->

      <li class="contact-link">
        <a href="mailto:support@designstyelle.com" class="mail-icon-circle"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
    </nav>

    <div id="menubars" (click)="menubars()"><i class="fa fa-bars"></i></div>

  </div>

<div id="mobileNavContainer" class="container-fluid mobileNavContainer">
  <div class="row">

    <nav id="mobileNav" class="col col-lg-12 align-items-center">
    <ul>
    <li class="mobileNav-link" (click)="mobileNavClicked()">
      <a routerLink="/how-it-works">How It Works</a>
    </li>
    <li class="mobileNav-link" (click)="mobileNavClicked()">
      <a routerLink="/solutions">Solutions</a>
    </li>
    <li class="mobileNav-link" (click)="mobileNavClicked()">
      <a routerLink="/portfolio">Portfolio</a>
    </li>
    <li class="mobileNav-link" (click)="mobileNavClicked()">
      <a routerLink="/contact">Contact</a>
    </li>
    <!-- <li class="mobileNav-link" (click)="mobileNavClicked()">
      <a routerLink="/members">Login</a>
    </li> -->

    <li (click)="mobileNavClicked()" class="signup-mobile">
      <a routerLink="/signup">Signup Today</a>
    </li>

    </ul>
    </nav>

  </div>
  </div>

</div>
</div>
</header>
