<header id="header" class="container-fluid">
<div id="top-header" class="container">
  <div class="row">

  <div class="col col-xs-9 col col-sm-9 col col-md-4 col col-lg-5">
    <div id="logo"><a routerLink="/"><img src="./assets/img/logos/styelle-logo.png"/></a></div>
  </div>


  <div class="col col-xs-3 col col-sm-3 col col-md-8 col col-lg-7">
    <nav id="mainNav" class="row align-items-center">
    <ul>
      <li>
        <a routerLink="/how-it-works">How It Works</a>
      </li>
      <li>
        <a routerLink="/solutions">Solutions</a>
</li>
      <li>
        <a routerLink="/portfolio">Portfolio</a>
      </li>
<li>
  <a routerLink="/contact">Contact</a>
</li>

      <li class="contact-link">
        <a href="mailto:mark@designstyelle.com" class="mail-icon-circle"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
    </nav>

    <div id="menubars" class=""><i class="fa fa-bars"></i></div>

  </div>

<div id="mobileNavContainer" class="container-fluid mobileNavContainer">
  <div class="row">

    <nav id="mobileNav" class="col col-lg-12 align-items-center">
    <ul>
    <li>
      <a routerLink="/how-it-works">How It Works</a>
    </li>
    <li>
      <a routerLink="/solutions">Solutions</a>
    </li>
    <li>
      <a routerLink="/portfolio">Portfolio</a>
    </li>
<li>
  <a routerLink="/contact">Contact</a>
</li>

<li class="signup-mobile">
  <a routerLink="/signup">Signup Today</a>
</li>

    </ul>
    </nav>

  </div>
  </div>

</div>
</div>
</header>
