<section id="hero" class="container-fluid">
  <div class="row">

  <div id="page-title" class="container">
    <div class="row">

<div class="col col-lg-12 align-items-center page-title-container">

  <svg class="svg-arrow-one" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#049cbf" stroke-width="1"></polygon></svg>
  <svg class="svg-arrow-two" xmlns="http://www.w3.o" height="10" width="10"><polygon points="0,0 10,0 5,10" fill="none" stroke="#FFFFFF" stroke-width="1"></polygon></svg>

<div class="page-title-text">
  <h1><span class="page-title-ln1">Contact</span><br />
  <span class="page-title-ln2"></span></h1>
</div>

<svg class="svg-arrow-three" xmlns="http://www.w3.o" height="10" width="10"><polygon points="5,10 10,0, 0,0" fill="none" stroke="#049cbf" stroke-width="1"></polygon></svg>

</div><!--end page-title-->
</div><!--end row-->
</div><!--end container-->

<!--end hero-text-container-->
</div>
</section><!--end container-->

<section id="testContent" class="container">

</section>
<section id="contact-section" class="container">

<div class="row row-eq-height">

<div class="col-lg-3">
  <h2 class="hp-section-title cerise1">Contact <span>Us</span></h2>

<p>Fill out the form and hit submit. You'd be surprised how fast we respond.</p>

<p>Need answers to common questions? Check out the <a href="#">FAQs</a>. Follow us on the most popular social media platforms.</p>

<ul class="social-media-contact-pg">
<li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://facebook.com"><i class="fa fa-twitter"></i></a></li>
<li><a href="https://facebook.com"><i class="fa fa-instagram"></i></a></li>
<li><a href="https://facebook.com"><i class="fa fa-github"></i></a></li>
<li><a href="https://facebook.com"><i class="fa fa-pinterest"></i></a></li>
<li><a href="https://facebook.com"><i class="fa fa-dribbble"></i></a></li>
</ul>

</div>

<div class="col-lg-9">

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" *ngIf="showContactForm" id="contact-form">
<fieldset class="form-group">
<table id="contact-form-table">
  <tr>
    <td><label for="">Name</label><input type="text" name="name" class="" placeholder="Enter Your Full Name" formControlName="name" required/></td>
    <td><label for="">Email</label><input type="email" name="email" class="" placeholder="email@email.com" formControlName="email" required/></td>
    <td><label for="">Phone</label><input type="tel" name="phone" class="" placeholder="(123) 456-7890 or 1234567890" formControlName="phone"/></td>
  </tr>
</table>
</fieldset>

<fieldset class="form-group">
<textarea name="message" class="form-control" placeholder="How can we help you?" formControlName="message"></textarea>
</fieldset>

<fieldset>
  <button type="submit" class="btn btn-normal" [disabled]="!form.valid">Submit Form</button>
</fieldset>

<div *ngIf="form.controls.name.errors?.pattern">Name is invalid</div>
</form>

<span class="confirmationMessage" *ngIf="showConfirmationMessage">

<h1 class="cf-thank-title">Thank you for contacting <strong class="cerise">Design Styelle!</strong></h1>
<h2 class="cf-confirmation">Your Form Was Submitted Successfully.</h2>
<h3 class="cf-expectations">We will contact you shortly. <span (click)="ngOnInit()" class="hoverCursor cerise">Click Here</span> to submit a new form.</h3>

</span>

</div>

</div>


<div class="col-lg-2">

</div>
</section>
