html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*PRIMARY AND ACCENT COLORS*/

.cerise1,.cerise2,.cerise3,.cerise4,.cerise5,.cerise6,.cerise7,.cerise8,.cerise9{color:#049cbf; }


/*OTHER ACCENT COLORS*/
.gray{color:#333333; color:rgb(51,51,51);}
.white{color:#FFF;}
.red{color: #ff0000;}


@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');
@font-face {font-family: Avenir-UltraLight; src: url(./assets/fonts/AvenirNext-UltraLight.ttf);}
@font-face {font-family: Avenir-Light; src: url(./assets/fonts/Avenir-Light.ttf);}
@font-face {font-family: Avenir-Medium; src: url(./assets/fonts/Avenir-Medium.ttf);}
@font-face {font-family: Avenir; src: url(./assets/fonts/Avenir-Book.ttf);}
@font-face {font-family: Avenir-Black; src: url(./assets/fonts/Avenir-Black.ttf);}
@font-face {font-family: Avenir-Heavy; src: url(./assets/fonts/Avenir-Heavy.ttf);}

body{background: #fdfdfe;}

*,p,div,main,header,footer,li,ol,ul,table,td,tr,thead,tfoot,details,summary,blockquote,section,input,select,optgroup,option,a,aside,address,cite,span{font-family: Avenir; font-size:1em}
p,li,ol,ul,td,tr,thead,tfoot,details,summary,blockquote,section,input,select,optgroup,option,a,address,cite,span{line-height: 1.35em;}
img{max-width: 100%; width: 100%; height: auto; overflow: hidden;}
/*FLEX*/
.row-eq-height, .flex-container,.step-flex-container {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.section-padding{padding-top: 50px;}
.items-center{align-items: center;}
.ave-ul{font-family: Avenir-UltraLight;}
.ave-l{font-family: Avenir-Light;}
.ave-m{font-family: Avenir-Medium;}
.ave{font-family: Avenir;}
.ave-h{font-family: Avenir-Heavy;}
.ave-b{font-family: Avenir-Black;}

h1{font-size: 3em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.3em;}
h5{font-size: 1.1em;}
a{color: #049cbf ; text-decoration: none;}
a:hover{color: #812551; text-decoration: none;}
strong{font-family: Avenir-Medium;}
em{font-style: italic;}

.hp-section-title{font-family: Avenir-UltraLight; font-size: 2.5em;}
.hp-section-title span{font-family: Avenir-Black;}
.hp-section-subtitle{line-height: 1.4em; font-size: 1.3em;}
.hp-section-subtitle span{}


.block-details{}
span.block-title, span.block-subtitle, span.block-blurb{display: block; clear: both;}
.block-title{font-family:Avenir-Black ; color:#c9c9c9 ; font-size: 4em; line-height: 1em; opacity: .7;}
.block-subtitle{font-family:Avenir-Black ; color:# 000; font-size: 2.5em;}
.block-blurb{font-family:Avenir-Light; color:#555 ; font-size: 1.15em; margin: 15px 0 0;}

/*FORMS*/
textarea{width: 100%;}
input:focus , textarea:focus, select:focus{border: 1px solid #049cbf; }
/*.ng-touched.ng-invalid{border-color:red;}
button:disabled{background-color:gray !important;}*/

/*BUTTONS*/
.btn-container{position: relative;}
.btn-default{background-color: #049cbf !important; border-radius: 0px !important; color:#FFF !important; font-size: 1.2em !important; border: none; font-family: Avenir-Light; padding: .6em 2em !important; position: absolute; border:1px solid #049cbf !important; }
.btn-normal{background-color: #049cbf !important; border-radius: 0px !important; color:#FFF !important; font-size: 1.2em !important; border: none; font-family: Avenir-Light; padding: .6em 2em !important; border:1px solid #049cbf;}
.btn{border-radius: 0px !important;}
/*div.btn-container:hover a.btn-default{}*/
div.btn-container:hover a.btn-default,div.btn-container:hover a.btn-normal {color:#049cbf !important; background-color: #fff !important; border:1px solid #049cbf !important; cursor: pointer; -webkit-transition: background-color .5s; -ms-transition: background-color .5s; -o-transition: background-color .5s; transition: background-color .5s; -webkit-transition: color .3s; -ms-transition: color .3s; -o-transition: color .3s; transition: color .3s;}
.pay-disclosure{font-style: italic; padding: 1em 0; font-size: .8em;}
.button-spacing{padding:1em 0;}


header#header{background-color:#111; z-index: 9999;}
header#header p{margin-bottom: 0px;}
#top-header{margin-top: 2%; margin-bottom: 1%; }
#main{}
/*STYLING FOR THE LOGO*/
#logo{padding: 2% 0;}
#logo img{max-height: 25px; width: auto;}
/*STYLING FOR THE MAIN NAVIGATION ON DESKTOP*/
nav#mainNav{text-align: right;}
nav#mainNav ul{margin-bottom: 0px; padding: 1 % 0;}
nav#mainNav ul li{display: inline-block; padding:0 3%;}
nav#mainNav ul li a{text-decoration: none; color:#FFF; font-family: Avenir-UltraLight; font-size:1.1em;}
nav#mainNav ul li:not(.contact-link):hover a {border-bottom: 1px solid #049cbf; padding-bottom: 8px;}
li a.mail-icon-circle i{background-color: #049cbf; padding: 10px; border-radius: 20px; border:1px solid #049cbf;}
li a.mail-icon-circle:hover i{background-color: #FFF; color:#049cbf; transition: background-color .5s; -webkit-transition: background-color .5s; -ms-transition: background-color .5s; transition: color .5s; -webkit-transition: color .5s; -ms-transition: color .5s;}

/*STYLING FOR THE MAIN NAVIGATION ON MOBILE*/
#menubars{display: none;}
#mobileNavContainer{background-color: #049cbf; margin-top: -6%; padding: 20% 0; height: 100vh; display: none;}
#mobileNav ul{text-align: center; margin-top: 15%;}
#mobileNav ul li{padding:3% 0;}
#mobileNav ul li a{text-decoration: none; color: #FFF; font-size: 2em;}
.signup-mobile{}
.signup-mobile a{color:#049cbf !important; background: #FFF; padding: 10px 30px;}

/*STYLING FOR THE HERO IMAGE*/
#hero{clip-path:polygon(0% 0%, 100% 0, 100% 100%, 55% 100%, 55% 87%, 0% 87%);background-color:#111; padding-bottom: 7%;}
#hero.homepage-hero{clip-path:none;background-color:#111; padding-bottom: 5%;}
.hero-fg-text{text-align: center;}
.hero-fg-text h1{color:#FFF; font-size:4.5em; line-height:1.3em;}
.hero-fg-text .leftArrow{padding-right: 15px;}
.hero-fg-text em{font-style: italic; }
/*.hero-fg-text svg{margin-top:10px;}*/
.hero-text-container{margin:2% auto; padding:9% 0 6%; position:relative; height: 100%;}
.hero-text-container-home{background: url('./assets/img/hero/hero-bg@2x.png') no-repeat center center; background-size: 85% auto;}
.hero-fg-ln1{font-family: Avenir-UltraLight; display: }
.hero-fg-ln2{display: block;}
.svg-arrow-one{position: absolute; top:150px; left:290px;}
.svg-arrow-two{position: absolute; top:100px; right:200px;}
.svg-arrow-three{position: absolute; bottom:100px; right:300px;}

.page-title-container{padding:7% 0 10%; background-color: #111;}
.page-title-text{text-align: center;}
.page-title-text h1{color:#FFF; font-size:3.5em; line-height:1.3em;}
.page-title-text .leftArrow{padding-right: 15px;}
.page-title-text em{font-style: italic; }
.page-title-ln1{font-family: Avenir-Medium; font-size:2em;}
.page-title-ln2{font-size: .8em; font-family: Avenir-UltraLight;}

/*#hero-status-bar{transform: rotate(90deg); transform-origin: 3% top 0; }*/

/*RECENT PROJECTS*/
.recent-projects-wrapper{background-color:#111111 }
.recent-projects-container{background: #111111 url('./assets/img/homepage/recent-projects-bg.png') no-repeat center top; background-size: cover; padding-bottom: 4%; clip-path:polygon(0% 0%, 50% 0%, 50% 15%, 100% 15%, 100% 100%, 0% 100%);}
.recent-projects{padding-top:2%; padding-bottom: 3%;}
figure.project-pic{z-index: 1; display:block; position: relative; max-height: 230px;}
figure.project-pic img{max-width: 375px; max-height: 300px; height: auto;}
figcaption.project-details span{display: block; clear:both;}
.project-title, .project-subject{text-shadow: 0px 0px 15px #444;}
.project-title{font-family: Avenir-Heavy; color: #FFF; font-size: 1em; padding-top: 10px;}
.project-subject{font-family: Avenir-Light; color: #FFF; opacity:.5;}
.portfolio-button-hp{clear: both; float: none; padding-top: 3%;}
.portfolio-button-hp a{position: relative !important;}
.portfolio-button-hp:after,.portfolio-button-hp:before{content: ''; display: table;}

/*HOW IT WORKS*/
#how-it-works-container{padding-top: 55px; padding-bottom: 55px;}
.hiw-content-block{border: 1px solid rgba(51,51,51,.2); padding: 3em 1.5em 3.5em; text-align: center; min-height: 225px; max-height: 250px; overflow: hidden;}
.hiw-content-block a{color:#049cbf;}
.hiw-content-block a:hover{text-decoration: none;}
.hiw-content-row{margin: 2em 0 0;}
.hiw-content-title{font-family: Avenir;}
.pricing-plan-hp{margin: 2em 0 0}
.pricing-row-hp{border: 1px solid rgba(51,51,51,.2); padding: 3em 1em 2em; margin-left: 1em; margin-right: 1em}
.pricing-desc-title{font-size: 2em; font-family: Avenir}
.pricing-desc-title span{display: block; font-family: Avenir-UltraLight}
.pricing-row-hp .btn-container{margin: 1em 0 2em;}
.pricing-title{font-family: Avenir-Light;}
.pricing-number{color:#049cbf; font-family: Avenir-Black; font-size: 7em; line-height: 1em;}
.pricing-number sup{font-size: .5em;}
.pricing-term{color:#049cbf; font-family: Avenir-Black; font-size: 2em; line-height: 1.35em !important;}
.pricing-term-desc{}
.pricing-disclosure span,.pricing-disclosure{font-size: .9em; text-align: center; font-family: Avenir-UltraLight;}
.pricing-disclosure span{display: block;}
.pricing-border-hp{border-right: 1px solid #049cbf;}
.pricing-includes{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center;}
/*CTA BLOCKS*/
#cta-blocks-hp{padding-top: 5%; padding-bottom: 10%;}
.cta-blocks-header{margin-bottom: 35px; padding-left: 10%; padding-right: 10%;}
.cta-blocks-wrapper{background: url('./assets/img/homepage/cta-blocks-bg.jpg') no-repeat center center; background-size: cover;}
/*.cta-blocks{display:-webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden; align-items: top; align-content: center; justify-content: center;}*/
.cta-blocks{padding-left:25px; padding-right: 25px;}
.cta-blocks .col-lg-3{padding-right: 2.5px; padding-left: 2.5px;}
.cta-block{margin-bottom: 2.5px; height: 320px; overflow: hidden; position: relative;}
.cta-block .overlay-content{position: absolute; top:0; left:0; background-color:rgba(0,0,162,.9); width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-family: Avenir-Ultralight !important; font-size: 1.1em; display: none;}
.overlay-content-padding{padding: 5%;}
.overlay-content-white{color:#fff;}
.overlay-content-white a{color:#fff;}
.cta-block-content{padding: 2em 1em 3em; width: 100%; height: 100%; min-height: 280px; }
.cta-type-blog{text-align: center;}
.cta-type-blog1{background-color: #78244c; color: #FFF;}
.cta-type-blog2{background-color: #e07401; color: #FFF;}
/*.cta-type-blog3{background-color: #78244c; color: #FFF;}*/
.cta-blog-title{font-family: Avenir-Heavy;}
.cta-blog-blurb{font-family: Avenir-UltraLight;}
.cta-blog-button{margin-top:2em;}
.cta-blog-button a{border:1px solid #FFF; padding:.6em 2em; background-color: none; color: #FFF; }
.cta-blog-button:hover a{text-decoration: none; color: #78244c; background-color: #FFF; -webkit-transition: background-color .5s; -ms-transition: background-color .5s; transition: background-color .5s; -webkit-transition: color .5s; -ms-transition: color .5s; transition: color .5s;}
.cta-block-img-bg{}
.cta-block-img-bg1{background: url('./assets/img/homepage/app-img.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg2{background: url('./assets/img/homepage/ebonee.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg3{background: url('./assets/img/homepage/target-audience.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg4{background: url('./assets/img/homepage/small-biz2.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg5{background: url('./assets/img/homepage/small-biz.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg6{background: url('./assets/img/homepage/atlanta.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg7{background: url('./assets/img/homepage/sm-trends.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg8{background: url('./assets/img/homepage/social-media.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg9{background: url('./assets/img/homepage/quote.jpg') no-repeat center center; background-position: center center; background-size: cover;}

/*CLIENT LOGOS*/
.clients-row-hp{margin: 2% 0 0;}
.client-logos-inline{margin-top: 2em; margin-bottom: 2em; }
.client-logos-inline img{max-width: 150px; height: auto; padding:0 2em; filter: grayscale(100%);}

/*OUR TEAM*/
#our-team{margin-bottom: 4%;}
#our-team .hp-section-title{margin-bottom: 1em;}
.team-subtitle{font-size: 15px; color:#777; font-family: Avenir-UltraLight !important; display: block;}
.team-thumbnails{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; margin:1.5em 0;}
.member-select{padding:.2em;}
.thumb-name{text-align: center; padding: 3% 0 1% 0; font-size: 1.3em; font-family: Avenir-Medium;}
.thumb-desc{text-align: center; font-size: 1.1em; font-style: italic;}
.member-thumb{border: 1px solid rgba(51,51,51,.1); padding:1em 2em;}
.member-thumb img{filter:grayscale(100);}
.member-thumb:hover img{filter:grayscale(0); transition: filter 1s;}
.team-member-bio-row{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center;}
.team-member-bio-container{background: #FFF; padding: 1.5em;}
.team-member-name{font-size: 1.3em;}
.team-button{width: 100% !important; font-size: 1em !important;}

/*HOW IT WORKS*/
.step-one-hiw{margin:10em auto;}
.step-one-hiw .block-subtitle{color:#aaa;}
.pricing-hiw{border: 1px solid rgba(51,51,51,.2); padding: 2em;}
.hiw-bg-img{background: url('./assets/img/hiw/developers-working.jpg') no-repeat center center; background-size:auto 100%;}
.step-two-hiw{margin-top: 4em;}
.step-two-hiw .col{padding: 15em 40px;}
.step-two-hiw .col:nth-child(2){background-color: #111; color:#FFF; margin-top:70px;}
.step-two-hiw .block-blurb, .step-two-hiw .block-title, .step-two-hiw .block-subtitle, .step-two-hiw .pay-disclosure {color:#FFF;}
.step-three-hiw .block-blurb, .step-three-hiw .block-title, .step-three-hiw .block-subtitle, .step-three-hiw .pay-disclosure {color:#FFF;}
.block-subtitle, .step-three-hiw .pay-disclosure {color:#FFF;}
.step-three-hiw,.step-three-divider1{background-color: #191919;}
.step-three-divider2{background-color:#111;}
.step-three-divider1,.step-three-divider2{padding:40px 0;}
.step-three-hiw .col:nth-child(1){padding-left:5%;}



/*.step-three-hiw{background-color: #0f0f0f;}*/
/*PRICING TABLE*/
.pricing-column{padding: 30px 10%;}
.pricing-table-wrapper{border: 1px solid rgba(51,51,51,.2); padding: 0px 20px;}
.pricing-table{width: 100%;}
.pricing-table thead td{font-family: Avenir-Heavy;}
.pricing-table td{padding: 1em; vertical-align: middle; text-align: center; border-bottom:1px solid rgba(51,51,51,.1); }
.pricing-table td:first-of-type{width:34%;}
.pricing-table td:nth-child(2){background-color: #eee;}
.pricing-table td:nth-child(2),.pricing-table td:nth-child(3),.pricing-table td:nth-child(4){width: 22%;}
.pricing-table td{padding: 1em; vertical-align: middle; text-align: center;}
.pricing-table-after{font-size: 1.2em; padding: 4% 5% 2%;}



/*SOLUTIONS PAGE*/
.solutions-default-list{margin: 2% auto;}
.solutions-default-list li{list-style: none;}
.solutions-default-list span{}
.portfolio-solutions-img{max-width: 100px; height: 80px; margin: auto; border:1px solid transparent; box-shadow: 0px 0px 5px rgba(0,0,0,.3); -webkit-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%);}
.portfolio-solutions{margin: 2% auto;}
.portfolio-solutions .col{margin-bottom: 2%;}
.portfolio-solutions-img:hover{border: 1px solid #049cbf; -webkit-transition: border-color .75s; -ms-transition: border-color .75s; -o-transition: border-color .75s; transition: border-color .75s; -webkit-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%);}
.sol-bg-img{background: url('./assets/img/solutions/design-solutions5.jpg') no-repeat center center; background-size:cover;}
.step-two-sol{margin-top: 4em;}
.step-two-sol .col{padding: 15em 40px;}
.step-two-sol .col:nth-child(2){background-color: #111; color:#FFF; margin-top: 70px;}
.step-two-sol .block-blurb, .step-two-sol .block-title, .step-two-sol .block-subtitle, .step-two-sol .pay-disclosure {color:#FFF;}
.step-three-sol .block-blurb, .step-three-sol .block-title, .step-three-sol .block-subtitle, .step-three-sol .pay-disclosure {color:#FFF;}
.step-three-sol,.step-three-divider1{background-color: #191919;}
/*.step-three-sol .col{padding:10% 5%;}*/
.step-one-sol{margin:10em auto;}
.step-one-sol .block-subtitle{color: #aaa;}
.step-three-sol .col{padding:5em 2em 5em 3em;}
.pricing-sol{border: 1px solid rgba(51,51,51,.2); padding: 2em;}
.seo-table{color:#FFF; text-align:left; width: 100%; margin: 1.5em 0;}
/*.seo-table thead td{font-family: Avenir-Heavy; font-size: 1.2em;}*/
.seo-table td{vertical-align: middle; font-family: Avenir-Medium; padding: .5em .7em; width: 50%;}
.seo-tools-img{width:90%; height: auto;}
.strike{text-decoration: line-through;}
/*PORTFOLIO*/
.portfolio{padding-top:4%; padding-bottom: 4%; }
.portfolio-selection{margin:4% auto; width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; text-align: center;}
.portfolio-selection li{width: 16.6666666%; padding: 1em; margin-right: 1em; border: 1px solid rgba(51,51,51,.1);}
.portfolio-selection li:last-of-type{margin-right: 0;}
.portfolio-selection li:hover, .portfolio-selection li.active{background:#049cbf; color: #fff;}
.portfolio-selection li.active a{color:#FFF;}
.portfolio-selection a{text-decoration: none; color: #333;}
.portfolio-selection li:hover a{text-decoration: none; color: #fff;}
.portfolio-block{border: 1px solid rgba(51,51,51,.1); padding: .5em;}
.portfolio-img img{display: block; max-height: 300px; width: 100%;}
.graphicsPortfolio .portfolio-block{height:120px; width: 180px;}
.brandingPortfolio .portfolio-block{height: 120px; width: 180px;}
.graphicsPortfolio .portfolio-img img{max-height: 110px;}
.brandingPortfolio .portfolio-img img{max-height: 110px;}
.portfolio-title{display: block; font-size: 1.15em; font-family: Avenir-Light; margin: 10px 0;}
.portfolio-summary{display: block; font-family: Avenir-UltraLight;}
.portfolio-date{display: block; margin: 10px 0; font-family: Avenir-UltraLight;}
.portfolio-category{display: block; font-size: .8em; font-style: italic;}
.portfolio-details-wrapper{background: #049cbf; background:linear-gradient(#049cbf,#ac326c,#812551); color: #FFF; padding: 1em; border-top: 1px solid #401228;}
.portfolio-details-wrapper a{text-decoration: none; color: #FFF;}
.portfolio-details-wrapper:hover a{text-decoration: none; color: #FFF;}
.portfolio-summary strong, .portfolio-date strong{font-family: Avenir-Heavy;}
.portfolio .row{margin-bottom: 20px;}
.paginationjs .paginationjs-pages ul,.paginationjs .paginationjs-pages{float: none !important; text-align: center;}
.paginationjs .paginationjs-pages li{border: 1px solid rgba(51,51,51,.1) !important; list-style: none; float: none !important; display: inline-block; padding: .5em; margin-right: 1em;}
.paginationjs .paginationjs-pages li.active > a{background:none !important; background-color: none !important; color:#333 !important;}
.paginationjs .paginationjs-pages li:hover > a{color:#333 !important; background-color:#049cbf !important;}
.paginationjs .paginationjs-pages li.active,.paginationjs .paginationjs-pages li:hover{color:#FFF !important; background-color:#049cbf !important;}
.paginationjs .paginationjs-pages li.active > a,.paginationjs .paginationjs-pages li:hover > a{color:#FFF !important;}
.designPortfolio .data-container,.designPortfolio #pagination-portfolio{display: block;clear: both;}
.designPortfolio .data-container:after,.designPortfolio #pagination-portfolio:after{content:''; display: table;}
.designPortfolio .data-container .col{margin-bottom: 2%;}

.brandingPortfolio .data-container,.brandingPortfolio #pagination-brandingPortfolio{display: block;clear: both;}
.brandingPortfolio .data-container:after,.brandingPortfolio #pagination-brandingPortfolio:after{content:''; display: table;}
.brandingPortfolio .data-container .col{margin-bottom: 2%;}

.graphicsPortfolio .data-container,.graphicsPortfolio #pagination-graphicsPortfolio{display: block;clear: both;}
.graphicsPortfolio .data-container:after,.graphicsPortfolio #pagination-graphicsPortfolio:after{content:''; display: table;}
.graphicsPortfolio .data-container .col{margin-bottom: 2%;}

/*CONTACT PAGE*/
#contact-section{padding: 55px 0;}
#contact-section input{min-height: 43px; width: 100%; padding-left: 8px;}
#contact-section label{padding-right: 10px;}
.flex-form{align-items: center; }
.flex-form .form-group{width: 33%; padding-left: 15px; align-items: center; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.flex-form .form-group:first-of-type{padding-left: 0px;}
.flexform.flex-container:nth-child(2){width: 70%;}
#contact-form fieldset{margin-bottom: 20px;}
#contact-form textarea{min-height: 200px;}
.social-media-contact-pg{clear: both; margin: 5% 0;}
.social-media-contact-pg li{display: inline-block; padding: 0 4%;}
.social-media-contact-pg li:first-of-type{padding-left: 0px;}
.social-media-contact-pg li:last-of-type{padding-right: 0px;}
.social-media-contact-pg i{color:#049cbf; font-size: 1.5em; opacity: .6;}
.social-media-contact-pg i:hover{opacity: 1;}
.social-features{margin:5% 0%;}
.social-features li{padding-bottom: 10px;}
/*MARKETING PAGE*/
#marketing-section{padding-top:55px;}
.social.team-social{margin: 2% 0;}
.social.team-social span{padding: 0% 1.5%;}
.social.team-social i{color:#049cbf; font-size: 1.5em;}
.social.team-social span:first-of-type{padding-left: 0;}
.social.team-social span:last-of-type{padding-right: 0;}
.team-title{color:#aaa; font-family: Avenir-Black; font-size: 1.5em; opacity: .6;}
.notable-logos {}
.notable-logos span{float: left; padding: 3%;}
.notable-logos img{max-width: 80px; height: auto;}
.solutions-ebonee-img{margin-bottom: 2%;}
.solutions-service1{margin-top: 4em;}
.solutions-service1 .col{padding: 15em 40px;}
.solutions-service1 .col:nth-child(2){background-color: #111; color:#FFF; margin-top: 70px;}
.solutions-service1 .block-blurb, .solutions-service1 .block-title, .solutions-service1 .block-subtitle, .solutions-service1 .pay-disclosure {color:#FFF;}
.social-media-bg-img{background: url('./assets/img/marketing/digital-marketing.jpg') no-repeat left center; background-size:cover;}
.solutions-divider1{background-color: #FFF;}
.solutions-divider2{background-color:#111;}
.solutions-divider1,.marketing-divider2{padding:40px 0;}
.solutions-details{margin-top:5%; }
.solutions-title{font-size: 1.5em; color:#aaa;}
.solutions-blurb{font-size: 1.1em;}
.solutions-details .col{margin-bottom: 3%;}
.hiw-content-row .col:first-of-type{padding-left:0px;}
.hiw-content-row .col:last-of-type{padding-right:0px;}
/*FOOTER*/


/*COPYRIGHT*/
#copyright{background: #111; color:#aaa; font-size: 1em; padding-top: 2em; padding-bottom: 2em; font-family: Avenir-UltraLight;}


/*1024X768*/
@media screen and (max-width:1000px) {


  }


/*Larger screens 1920X1080*/


	/*Apple iPad Air 2, Ipad Mini 2  Apple iPad PRO 1024x1366*/
@media screen and (max-width:1024px) {
.logo{text-align: center}
#mainNav{display:none;}
header#header{padding:4.5% 0 3%; background-color:#000; position:fixed !important; top:0; left: 0; width: 100%; height: auto; z-index:9999;}
#menubars{display: block; float: right; color: #FFF;}
#menubars i{color: #FFF; font-size: 2em;}
#menubars span{color: #FFF;}
#menubars:hover{cursor: pointer;}
.hero-fg-ln1,.hero-fg-ln2{font-size: .8em;}
.hide-on-mobile{display: none;}
.project-details-2-container{padding-top: 0%;}
.recent-projects-container{padding-bottom: 8%;}
.hiw-content-row .col{padding-left: 5px; padding-right: 5px;}
.cta-blocks{display: block;}
#cta-blocks-hp{padding-bottom: 15%;}
.thumb-name{font-size: 0.8em;}
.step-dividers,.marketing-dividers{display: none !important;}
.solutions-ebonee-img{margin: 5% 0%; max-width: 600px; height: auto;}
.solutions-col{text-align: center;}
/*.portfolio-solutions{display: flex;}*/
}

	/*Apple iPad All Except PRO 736x1024*/
@media screen and (max-width:736px) {
.hero-fg-ln1,.hero-fg-ln2{font-size: .6em;}
.recent-projects-container{clip-path:none;}
.project-details-1-container,.project-details-2-container,.project-details-3-container{text-align: center; margin-bottom: 30px !important;}
.project-details-1-container img,.project-details-2-container img,.project-details-3-container img{box-shadow: none !important;}
figure.project-pic{max-height: 320px;}
.project-details{display: none;}
.hp-section-title{text-align: center; font-size: 2em;}
.hp-section-subtitle{font-size: 1.2em;}
.hiw-content-block {padding: 1.5em 1em 1.5em; min-height:0px; margin: 20px 10%;}
/*.hiw-content-title{font-size: 1em;}*/
.cta-blocks .hide-on-mobile{display: block;}
.client-logos-inline img{max-width: 120px;}
#cta-blocks-hp{padding-bottom: 35%;}
.team-member-bio-row{display: block;}
.pricing-desc-title{text-align: center;}
.portfolio-button-hp{margin:0;}
.pricing-plan-hp h2{text-align: center;}
.pricing-border-hp{border:none; border-right:none;}
.cta-blocks{text-align: center;	}
.cta-blocks .col-xs-6{clear: both; display: block; margin: auto; float: none; margin-bottom: 2em;}
.cta-blocks-wrapper{background: none; background-image: none;}
.cta-blocks,.clients-row-hp,.clients,.clientsButton{ background-color: #111111; padding-top: 2em; padding-bottom: 3em;}
.clients-row-hp{margin-top: 0;}
#cta-blocks-hp{padding-bottom: 5%;}
.step-two-sol .row-eq-height,.step-three-sol .row-eq-height{display: block;}
.sol-bg-img,.social-media-bg-img{display: none;}
/*.step-two-sol,.step-one-sol{margin:0;}*/
/*.step-two-sol .col{padding:5em 40px;}*/
.step-dividers{display: none !important;}
#solutions-cta .block-title{font-size: 3em; line-height: 1.3em;}
#solutions-cta .block-subtitle{font-size:1.4em; line-height: 1.3em;}
#solutions-cta .block-title,#solutions-cta .block-subtitle{text-align: center;}
.solutions-service1 .block-title{font-size: 3em; line-height: 1.3em;}
.solutions-service1 .block-subtitle{font-size:1.4em; line-height: 1.3em;}
.solutions-service1 .block-title,.solutions-service1 .block-subtitle{text-align: center;}
.step-two-hiw .col,.step-three-hiw .col{padding: 7em 20px;}
.cta-block-hide{display: none !important;}
.client-logos-inline img {display: block; margin: auto; padding: 0px; padding-bottom: 12px;}
.clients-row-hp,.clients{display: none;}
.cta-block{margin-bottom: 10px;}
.pricing-desc-blurb{font-size: 1.2em;}
.monthly-pricing{padding-top: 40px;}
.step-one-hiw{margin: 4em auto;}
.pricing-hiw{border:none;}
.step-flex-container{display: block;}
.competitive-matrix{display: none;}
.block-title{font-size: 3em;}
.step-one-sol{margin: 1em auto;}
.step-two-sol .col:nth-child(2){margin-top: 0px;}
.step-two-sol .col{padding: 5em 15px;}
.pricing-sol{border:none;}
.block-subtitle{font-size: 1.5em;}

.block-blurb{font-family: Avenir-Ultralight;}
.step-three-sol .col{padding: 5em 1em 5em 1em;}
.seo-table td{font-size: .85em;}
.seo-table i{display: none;}
}
/*Samsung Galaxy Note 5,LG G5,One Plus 3 480x853*/
@media screen and (max-width:480px) {
#hero {height: 90vh; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items:center;; justify-content: center; clip-path:none;}
.hero-text-container-home{background: none; background-image: none;}
.hero-text-container{padding: 20% 0 3%;}
.hero-fg-ln1,.hero-fg-ln2{font-size: .65em; font-family: Avenir-UltraLight; display:inline;}
.hero-fg-text h1{line-height: .8em !important; margin-top:-30px;}
.step-dividers{display: none !important;}
.recent-projects{padding-top: 10%;}
.pricing-container{display: none;}
.page-title-ln1{font-size: 1em;}
.page-title-ln2{font-size: .5em;}
.step-one-sol{padding-top: 40px;}
.solutions-service1{}
.solutions-service1 .col:nth-child(2){margin-top: 0px;}
.solutions-service1 .col{padding-top: 5em; padding-bottom: 5em;}
.project-details-4-container,.project-details-5-container,.project-details-6-container{display: none;}
.pricing-row-hp{border:none;}
.pay-disclosure{display: none;}
#how-it-works-container{padding-bottom: 0px;}
}


/*Apple iPhone 7 Plus, 6 Plus Nexus 6P,Nexus 5X,Google Pixel, Google Pixel XL, Samsung Galaxy S7 Edge 414x736*/
@media screen and (max-width:414px) {
#hero.homepage-hero{padding-bottom: 13%;}
/*.hero-fg-ln1,.hero-fg-ln2{font-size: .3em; line-height: 1em;}*/
.homepage-hero svg{display: none}
.hp-section-title{font-size: 2em;}
.recent-projects-container{padding-bottom: 20%;}
.hiw-content-block{margin-bottom: 20px; padding: auto; min-height: 0px;}
.hiw-content-title{font-size: 1.5em;}
/*.page-title-ln1{font-size: 1em;}
.page-title-ln2{font-size: .4em;}*/
.graphicsPortfolio .col-xs-6,.graphicsPortfolio .col-sm-6{padding-left: 0px;}
.brandingPortfolio .col-xs-6,.brandingPortfolio .col-sm-6{padding-left: 0px;}
}


/*Apple iPhone 7, 6/6s 375x667*/
@media screen and (max-width:375px) {
}
