html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*PRIMARY AND ACCENT COLORS*/

.cerise1{color:#D83F87; color: rgb(216,63,135); }
.cerise2{color:#c23879; color:rgb(194,56,121);}
.cerise3{color:#ac326c; color:rgb(172,50,108);}
.cerise4{color:#972c5e; color:rgb(151,44,94);}
.cerise5{color:#812551; color:rgb(129,37,81);}
.cerise6{color:#6c1f43; color:rgb(108,31,67);}
.cerise7{color:#561936; color:rgb(86,25,54);}
.cerise8{color:#401228; color:rgb(64,18,40);}
.cerise9{color:#2b0c1b; color:rgb(43,12,27);}
.cerise10{color:#15060d; color:rgb(21,6,13);}

.royalpurple1{color:#2a1b3d; color: rgb(42,27,61); }
.royalpurple2{color:#251836; color:rgb(37,24,54);}
.royalpurple3{color:#211530; color:rgb(33,21,48);}
.royalpurple4{color:#1d122a; color:rgb(29,18,42);}
.royalpurple5{color:#191024; color:rgb(25,16,36);}
.royalpurple6{color:#150d1e; color:rgb(21,13,30);}
.royalpurple7{color:#100a18; color:rgb(16,10,24);}

.purple1{color:#44318D; color:rgb(68,49,141);}
.purple2{color:#3d2c7e; color:rgb(61,44,126);}
.purple3{color:#362770; color:rgb(54,39,112);}
.purple4{color:#2f2262; color:rgb(47,34,98);}
.purple5{color:#281d54; color:rgb(40,29,84);}
.purple6{color:#221846; color:rgb(34,24,70);}
.purple7{color:#1b1338; color:rgb(27,19,56);}
.purple8{color:#140e2a; color:rgb(20,14,42);}

.lightpurple1{color:#8267a5; color:rgb(130,103,165);}
.lightpurple2{color:#755c94; color:rgb(117,92,148);}
.lightpurple3{color:#685284; color:rgb(104,82,132);}
.lightpurple4{color:#5b4873; color:rgb(91,72,115);}
.lightpurple5{color:#4e3d63; color:rgb(78,61,99);}
.lightpurple6{color:#413352; color:rgb(65,51,82);}
.lightpurple7{color:#342942; color:rgb(52,41,66);}
.lightpurple8{color:#271e31; color:rgb(39,30,49);}
.lightpurple9{color:#1a1421; color:rgb(26,20,33);}

/*OTHER ACCENT COLORS*/
.mediumred1{color:#59253A; color:rgb(89,37,58);}
.fuschia1{color:#78244C; color:rgb(120,36,76);}
.pinkpurple1{color:#78244C; color:rgb(120,36,76);}
.gray{color:#333333; color:rgb(51,51,51);}
.white{color:#FFF;}
.red{color: #ff0000;}


@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');
@font-face {font-family: Avenir-UltraLight; src: url(./assets/fonts/AvenirNext-UltraLight.ttf);}
@font-face {font-family: Avenir-Light; src: url(./assets/fonts/Avenir-Light.ttf);}
@font-face {font-family: Avenir-Medium; src: url(./assets/fonts/Avenir-Medium.ttf);}
@font-face {font-family: Avenir; src: url(./assets/fonts/Avenir-Book.ttf);}
@font-face {font-family: Avenir-Black; src: url(./assets/fonts/Avenir-Black.ttf);}
@font-face {font-family: Avenir-Heavy; src: url(./assets/fonts/Avenir-Heavy.ttf);}

body{background: #fdfdfe;}

*,p,div,main,header,footer,li,ol,ul,table,td,tr,thead,tfoot,details,summary,blockquote,section,input,select,optgroup,option,a,aside,address,cite,span{font-family: Avenir;}
p,li,ol,ul,td,tr,thead,tfoot,details,summary,blockquote,section,input,select,optgroup,option,a,address,cite,span{line-height: 1.35em;}
img{max-width: 100%; width: 100%; height: auto; overflow: hidden;}
/*FLEX*/
.row-eq-height, .flex-container {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}

.items-center{align-items: center;}
.ave-ul{font-family: Avenir-UltraLight;}
.ave-l{font-family: Avenir-Light;}
.ave-m{font-family: Avenir-Medium;}
.ave{font-family: Avenir;}
.ave-h{font-family: Avenir-Heavy;}
.ave-b{font-family: Avenir-Black;}

h1{font-size: 3em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.3em;}
h5{font-size: 1.1em;}

.hp-section-title{font-family: Avenir-UltraLight; font-size: 2.5em;}
.hp-section-title span{font-family: Avenir-Black;}
.hp-section-subtitle{line-height: 1.4em;}
.hp-section-subtitle span{}


.block-details{}
span.block-title, span.block-subtitle, span.block-blurb{display: block; clear: both;}
.block-title{font-family:Avenir-Black ; color:#c9c9c9 ; font-size: 4em; line-height: 1em; opacity: .7;}
.block-subtitle{font-family:Avenir-Black ; color:# 000; font-size: 2.5em;}
.block-blurb{font-family:Avenir-Light; color:#555 ; font-size: 1.3em; margin: 15px 0 0;}

/*FORMS*/
textarea{width: 100%;}
input:focus , textarea:focus, select:focus{border: 1px solid #d83f87; }



/*BUTTONS*/
.btn-container{position: relative;}
.btn-default{background-color: #d83f87 !important; border-radius: 0px !important; color:#FFF !important; font-size: 1.2em !important; border: none; font-family: Avenir-Light; padding: 1.1em 2.3em !important; position: absolute; border:1px solid #d83f87 !important; clip-path:polygon(0% 0%, 50% 0%, 50% 18%, 100% 18%, 100% 100%, 50% 100%, 50% 82%, 0% 82%); }
.btn-normal{background-color: #d83f87 !important; border-radius: 0px !important; color:#FFF !important; font-size: 1.2em !important; border: none;
font-family: Avenir-Light; padding: .6em 2em; border:1px solid #d83f87;}
.btn{border-radius: 0px !important;}
/*div.btn-container:hover a.btn-default{}*/
div.btn-container:hover a.btn-default,div.btn-container:hover a.btn-normal {color:#d83f87 !important; background-color: #fff !important; border:1px solid #d83f87 !important; cursor: pointer; -webkit-transition: background-color .5s; -ms-transition: background-color .5s; -o-transition: background-color .5s; transition: background-color .5s; -webkit-transition: color .3s; -ms-transition: color .3s; -o-transition: color .3s; transition: color .3s;}
.pay-disclosure{font-style: italic; padding: 1em 0; font-size: .8em;}
.button-spacing{padding:1em 0;}


header#header{background-color:#111;}
header#header p{margin-bottom: 0px;}
header.innerpage-header{clip-path:polygon(0% 0%, 100% 0, 100% 100%, 55% 100%, 55% 87%, 0% 87%);}
#top-header{margin-top: 2%; margin-bottom: 1%; }
#main{}
/*STYLING FOR THE LOGO*/
#logo{padding: 2% 0;}
#logo img{max-height: 30px; width: auto;}
/*STYLING FOR THE MAIN NAVIGATION ON DESKTOP*/
nav#mainNav{text-align: right;}
nav#mainNav ul{margin-bottom: 0px; padding: 1 % 0;}
nav#mainNav ul li{display: inline-block; padding:0 3%;}
nav#mainNav ul li a{text-decoration: none; color:#FFF; font-family: Avenir-UltraLight; font-size:1.1em;}
nav#mainNav ul li:not(.contact-link):hover a {border-bottom: 1px solid #d83f87; padding-bottom: 8px;}
li a.mail-icon-circle i{background-color: #d83f87; padding: 10px; border-radius: 20px; border:1px solid #d83f87;}
li a.mail-icon-circle:hover i{background-color: #FFF; color:#d83f87;
transition: background-color .5s; -webkit-transition: background-color .5s; -ms-transition: background-color .5s;
transition: color .5s; -webkit-transition: color .5s; -ms-transition: color .5s;
}

/*STYLING FOR THE MAIN NAVIGATION ON MOBILE*/
#menubars{display: none;}
#mobileNav{display: none; }
.hamburger{padding:0px; margin:0px;}
.mobileNavContainer{background-color: #44318D;padding: 10% 0;margin-top: -4.5%; height: 100vh; display: none;}
#mobileNav ul{text-align: center;margin-top: 15%;}
#mobileNav ul li{padding:2.5% 0;}
#mobileNav ul li a{text-decoration: none; color: #FFF; font-size: 2em;}


/*STYLING FOR THE HERO IMAGE*/
#hero{}
.hero-fg-text{text-align: center;}
.hero-fg-text h1{color:#FFF; font-size:4.5em; line-height:1.3em;}
.hero-fg-text .leftArrow{padding-right: 15px;}
.hero-fg-text em{font-style: italic; }
/*.hero-fg-text svg{margin-top:10px;}*/
.hero-text-container{margin:2% auto; padding:12% 0; position:relative; height: 100%;}
.hero-text-container-home{background: url('./assets/img/hero/hero-bg@2x.png') no-repeat center center; background-size: 85% auto;}
.hero-fg-ln1{font-family: Avenir-UltraLight;}
.svg-arrow-one{position: absolute; top:150px; left:290px;}
.svg-arrow-two{position: absolute; top:100px; right:200px;}
.svg-arrow-three{position: absolute; bottom:100px; right:300px;}

.page-title-container{margin:2% auto; padding:10% 0 15.5%;}
.page-title-text{text-align: center;}
.page-title-text h1{color:#FFF; font-size:3.5em; line-height:1.3em;}
.page-title-text .leftArrow{padding-right: 15px;}
.page-title-text em{font-style: italic; }
.page-title-ln1{font-family: Avenir-Medium; font-size:1.5em;}
.page-title-ln2{font-size: 1em; font-family: Avenir-UltraLight;}

/*RECENT PROJECTS*/
.recent-projects-container{background: #111111 url('./assets/img/homepage/recent-projects-bg.png') no-repeat center top; background-size: cover; padding-bottom: 4%;}
.recent-projects{padding-top:3%; padding-bottom: 3%;}
figure.project-pic{z-index: 1; display:block; position: relative;}
figure.project-pic img{max-width: 375px; height: auto;}
figcaption.project-details-1{z-index:11; position: absolute; top:30%; right:0%;}
figcaption.project-details-2{z-index:11; position: absolute; top:30%; left:-60px;}
figcaption.project-details-3{z-index:11; position: absolute; top:30%; right:0;}
figcaption.project-details span{display: block; clear:both;}
.project-title, .project-subject, .view-project-link a{text-shadow: 0px 0px 15px #444;}
.project-title{font-family: Avenir-Heavy; color: #FFF; font-size: 1.5em;}
.project-subject{font-family: Avenir-Light; color: #FFF; opacity:.5;}
.view-project-link a{font-family: Avenir-Book; color:#d83f87;}
.view-project-link a:hover{color:#78244c;}
.project-details-1-container{padding-left: 10% !important;}
.project-details-2-container{padding-top:5%;}
.portfolio-button-hp{margin: 2em 0 0;}
.project-details-1-container img{box-shadow: 100px 40px 0px rgba(0,0,0,1) !important;}
.project-details-3-container img{box-shadow: 50px -50px 0px rgba(0,0,0,1) !important;}
.project-details-2-container img{box-shadow: -50px -20px 0px rgba(0,0,0,1) !important;}
/*HOW IT WORKS*/
#how-it-works-container{padding: 55px 0;}
.hiw-content-block{border: 1px solid rgba(51,51,51,.2); padding: 3em 1.5em 3.5em; text-align: center; min-height: 225px; max-height: 250px; overflow: hidden;}
.hiw-content-block a{color:#d83f87;}
.hiw-content-block a:hover{text-decoration: none;}
.hiw-content-row{margin: 2em 0 0;}
.hiw-content-title{font-family: Avenir;}
.pricing-plan-hp{margin: 2em 0 0}
.pricing-row-hp{border: 1px solid rgba(51,51,51,.2); padding: 3em 1em 2em; margin-left: 1em; margin-right: 1em}
.pricing-desc-title{font-size: 2em; font-family: Avenir}
.pricing-desc-title span{display: block; font-family: Avenir-UltraLight}
.pricing-row-hp .btn-container{margin: 1em 0 2em;}
.pricing-title{font-family: Avenir-Light;}
.pricing-number{color:#d83f87; font-family: Avenir-Black; font-size: 7em; line-height: 1em;}
.pricing-number sup{font-size: .5em;}
.pricing-term{color:#d83f87; font-family: Avenir-Black; font-size: 2em; line-height: 1em;}
.pricing-disclosure span,.pricing-disclosure{font-size: .9em; text-align: center; font-family: Avenir-UltraLight;}
.pricing-disclosure span{display: block;}
.pricing-border-hp{border-right: 1px solid #d83f87;}

/*CTA BLOCKS*/
#cta-blocks-hp{padding-top: 5%; padding-bottom: 10%;}
.cta-blocks-header{margin-bottom: 35px;}
.cta-blocks-wrapper{background: url('./assets/img/homepage/cta-blocks-bg.jpg') no-repeat center center; background-size: cover;}
.cta-blocks{display:-webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden; align-items: top; align-content: center; justify-content: center;}
.cta-blocks .col-lg-3{padding-right: 2.5px; padding-left: 2.5px;}
.cta-block{margin-bottom: 2.5px; display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden; align-items: center; align-content: center; justify-content: center;}
.cta-block-content{padding: 2em 1em 3em; width: 100%; height: 100%; min-height: 280px; }

.cta-type-blog{text-align: center;}
.cta-type-blog1{background-color: #78244c; color: #FFF;}
.cta-type-blog2{background-color: #e07401; color: #FFF;}
/*.cta-type-blog3{background-color: #78244c; color: #FFF;}*/
.cta-blog-title{font-family: Avenir-Heavy;}
.cta-blog-blurb{font-family: Avenir-UltraLight;}
.cta-blog-button{margin-top:2em;}
.cta-blog-button a{border:1px solid #FFF; padding:.6em 2em; background-color: none; color: #FFF; }
.cta-blog-button:hover a{text-decoration: none; color: #78244c; background-color: #FFF; -webkit-transition: background-color .5s; -ms-transition: background-color .5s; transition: background-color .5s; -webkit-transition: color .5s; -ms-transition: color .5s; transition: color .5s;}

.cta-block-img-bg{}
.cta-block-img-bg1{background: url('./assets/img/homepage/app-img.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg2{background: url('./assets/img/homepage/ebonee.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg3{background: url('./assets/img/homepage/woman-waterfall.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg4{background: url('./assets/img/homepage/portfolio-cta.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg5{background: url('./assets/img/homepage/small-biz.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg6{background: url('./assets/img/homepage/atlanta.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg7{background: url('./assets/img/homepage/vr.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg8{background: url('./assets/img/homepage/social-media.jpg') no-repeat center center; background-position: center center; background-size: cover;}
.cta-block-img-bg9{background: url('./assets/img/homepage/quote.jpg') no-repeat center center; background-position: center center; background-size: cover;}

/*CLIENT LOGOS*/
.clients-row-hp{margin: 2% 0 0;}
.client-logos-inline{margin-top: 2em; margin-bottom: 2em; }
.client-logos-inline img{max-width: 150px; height: auto; padding:0 2em;}

/*OUR TEAM*/
#our-team .hp-section-title{margin-bottom: 1em;}
.team-thumbnails{display: flex; align-items: center; margin:1.5em 0;}
.member-select{padding:.2em;}
.thumb-name{text-align: center;}
.member-thumb{border: 1px solid rgba(51,51,51,.2); padding:1em 2em;}
.member-thumb img{max-height: 100px; width: auto;  }
.team-member-bio-row{display: flex; align-items: center;}
.team-member-bio-container{background: #FFF; padding: 1.5em;}
.team-member-name{font-size: 1.3em;}
.team-member-bio{}
.team-member-email{}
.team-member-email a{color:#d83f87; text-decoration:none;}
.team-member-email:hover a{color:#d83f87; text-decoration:none;}

/*HOW IT WORKS*/
.step-one-hiw{margin:10em auto;}
.pricing-hiw{border: 1px solid rgba(51,51,51,.2); padding: 2em;}
.hiw-bg-img{background: url('./assets/img/hiw/developers-working.jpg') no-repeat center center; background-size:auto 100%;}
.step-two-hiw{margin-top: 4em;}
.step-two-hiw .col{padding: 15em 40px;}
.step-two-hiw .col:nth-child(2){background-color: #111; color:#FFF; margin-top:70px;}
.step-two-hiw .block-blurb, .step-two-hiw .block-title, .step-two-hiw .block-subtitle, .step-two-hiw .pay-disclosure {color:#FFF;}
.step-three-hiw .block-blurb, .step-three-hiw .block-title, .step-three-hiw .block-subtitle, .step-three-hiw .pay-disclosure {color:#FFF;}
.block-subtitle, .step-three-hiw .pay-disclosure {color:#FFF;}
.step-three-hiw,.step-three-divider1{background-color: #191919;}
.step-three-divider2{background-color:#111;}
.step-three-divider1,.step-three-divider2{padding:40px 0;}
.step-three-hiw .col:nth-child(1){padding-left:5%;}



/*.step-three-hiw{background-color: #0f0f0f;}*/
/*PRICING TABLE*/
.pricing-column{padding: 30px 10%;}
.pricing-table-wrapper{border: 1px solid rgba(51,51,51,.2); padding: 0px 20px;}
.pricing-table{width: 100%;}
.pricing-table thead td{font-family: Avenir-Heavy;}
.pricing-table td{padding: 1em; vertical-align: middle; text-align: center; border-bottom:1px solid rgba(51,51,51,.1); }
.pricing-table td:first-of-type{width:34%;}
.pricing-table td:nth-child(2){background-color: #eee;}
.pricing-table td:nth-child(2),.pricing-table td:nth-child(3),.pricing-table td:nth-child(4){width: 22%;}
.pricing-table td{padding: 1em; vertical-align: middle; text-align: center;}

/*SOLUTIONS PAGE*/
.solutions-default-list{margin: 2% auto;}
.solutions-default-list li{list-style: none;}
.solutions-default-list span{}
.portfolio-solutions-img{max-width: 100px; height: 80px; margin: auto; border:1px solid transparent; box-shadow: 0px 0px 5px rgba(0,0,0,.3); -webkit-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%);}
.portfolio-solutions{margin: 2% auto;}

.portfolio-solutions-img:hover{border: 1px solid #d83f87; -webkit-transition: border-color .75s; -ms-transition: border-color .75s; -o-transition: border-color .75s; transition: border-color .75s; -webkit-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%);}
.sol-bg-img{background: url('./assets/img/solutions/design-solutions5.jpg') no-repeat center center; background-size:auto 100%;}
.step-two-sol{margin-top: 4em;}
.step-two-sol .col{padding: 15em 40px;}
.step-two-sol .col:nth-child(2){background-color: #111; color:#FFF; margin-top:70px;}
.step-two-sol .block-blurb, .step-two-sol .block-title, .step-two-sol .block-subtitle, .step-two-sol .pay-disclosure {color:#FFF;}
.step-three-sol .block-blurb, .step-three-sol .block-title, .step-three-sol .block-subtitle, .step-three-sol .pay-disclosure {color:#FFF;}
.step-three-sol,.step-three-divider1{background-color: #191919;}
/*.step-three-sol .col{padding:10% 5%;}*/
.step-one-sol{margin:10em auto;}
.step-three-sol .col{padding:5em 2em 5em 3em;}
.pricing-sol{border: 1px solid rgba(51,51,51,.2); padding: 2em;}
.seo-table{color:#FFF; text-align:left; width: 100%; margin: 1.5em 0;}
/*.seo-table thead td{font-family: Avenir-Heavy; font-size: 1.2em;}*/
.seo-table td{vertical-align: middle; font-family: Avenir-Medium; padding: .5em .7em; width: 50%;}
.seo-tools-img{width:90%; height: auto;}

/*PORTFOLIO*/

.portfolio-selection{margin:4% auto; width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; text-align: center;}
.portfolio-selection li{width: 16.6666666%; padding: 1em; margin-right: 1em; border: 1px solid rgba(51,51,51,.1);}
.portfolio-selection li:last-of-type{margin-right: 0;}
.portfolio-selection li:hover, .portfolio-selection li.active{background:#d83f87; color: #fff;}
.portfolio-selection li.active a{color:#FFF;}
.portfolio-selection a{text-decoration: none; color: #333;}
.portfolio-selection li:hover a{text-decoration: none; color: #fff;}
.portfolio-block{border: 1px solid rgba(51,51,51,.1); padding: .5em;}
.portfolio-img img{display: block; max-height: 250px; width: 100%;}
.portfolio-title{display: block; font-size: 1.3em; font-family: Avenir-Light; margin: 10px 0;}
.portfolio-summary{display: block; font-family: Avenir-UltraLight;}
.portfolio-date{display: block; margin: 10px 0; font-family: Avenir-UltraLight;}
.portfolio-category{display: block; font-size: .8em; font-style: italic;}
.portfolio-details-wrapper{background: #d83f87; background:linear-gradient(#d83f87,#ac326c,#812551); color: #FFF; padding: 1em; border-top: 1px solid #401228;}
.portfolio-details-wrapper a{text-decoration: none; color: #FFF;}
.portfolio-details-wrapper:hover a{text-decoration: none; color: #FFF;}
.portfolio-summary strong, .portfolio-date strong{font-family: Avenir-Heavy;}
.portfolio .row{margin-bottom: 20px;}
.pagination-selection{}
.pagination-selection{margin:4% auto; width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; text-align: center;}

.pagination-selection li{ padding: 1em; margin-right: 1em; border: 1px solid rgba(51,51,51,.1);}
.pagination-selection li:last-of-type{margin-right: 0;}
.pagination-selection li:hover, .pagination-selection li.active{background:#d83f87; color: #fff;}
.pagination-selection li.active a{color:#FFF;}
.pagination-selection a{text-decoration: none; color: #333;}
.pagination-selection li:hover a{text-decoration: none; color: #fff;}


/*CONTACT PAGE*/
#contact-section{padding: 55px 0;}
#contact-section input{min-height: 43px; width: 100%; padding-left: 8px;}
#contact-section label{padding-right: 10px;}
.flex-form{align-items: center; }
.flex-form .form-group{width: 33%; padding-left: 15px; align-items: center; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.flex-form .form-group:first-of-type{padding-left: 0px;}
.flexform.flex-container:nth-child(2){width: 70%;}
#contact-form fieldset{margin-bottom: 20px;}
#contact-form textarea{min-height: 200px;}
/*FOOTER*/


/*COPYRIGHT*/
#copyright{background: #111; color:#aaa; font-size: 1em; padding-top: 2em; padding-bottom: 2em; font-family: Avenir-UltraLight;}


/*Apple iPad Air 2, Ipad Mini 2 1024X768*/
@media screen and (max-width:1000px) {
  .logo{text-align: center}
  #mainNav{display:none;}
  header#header{padding:4.5% 0 3%; background-color:#222;}
  #menubars{display: block;}
  #menubars span{color: #FFF;}
  #menubars:hover{cursor: pointer;}
  #menubars .hamburger-inner,   #menubars .hamburger-inner::after,   #menubars .hamburger-inner::before{background-color:#FFF; max-width: 30px; height:2px;}

  }




/*Apple iPhone 6 Plus 414X736*/



/*Apple iPhone 6s 414X736*/



/*Samsung Galaxy Note, Samsung Galaxy S5, Samsung Galaxy S7
  360X640*/



/*Larger screens 1920X1080*/
